{% extends 'base.html.twig' %}

{% block title %}Test Shop{% endblock %}

{% block body %}
    <h1>HH Testshop</h1>
    {% for product in products %}
        <div class="article_list_item">
            <p>
                Name: {{product.name}}</br>
                Beschreibung: {{product.description}}</br>
                Preis: {{product.price}}</br>
                {% if product.artist %} Interpret: {{product.artist}}</br> {% endif %}
                {% if product.weight %} Gewicht: {{product.weight}}</br> {% endif %}
            </p>
            <div class="order_product">
                <input type="checkbox" class="" id="{{product.id}}" value="{{product.name}}" name="{{product.name}}"></input>
                <label for="{{product.name}}">{{product.name}} Zur Bestellung hinzufügen</label><br>
            </div>
        </div>

    {% endfor %}

    <div>
        <input type="submit" id="submitOrder" value="Bestellen">
    </div>

    
{% endblock %}
{% block javascripts %}
        <script src="shop.js"></script>
{% endblock %}
